/** css/yourtheme.css **/

/* This line is theme specific - it includes the base theme CSS */
@import 'theme.css';       /* for the Read the Docs theme */


.wy-side-nav-search .wy-dropdown > a img.logo, .wy-side-nav-search > a img.logo {
	display: block;
	margin: 0 auto;
	height: auto;
	width: auto;
	border-radius: 0;
	max-width: 50% !important;
	background: transparent;
}

/*
.wy-nav-content {
	padding: 1.618em 3.236em;
	height: 100%;
	max-width: 90%;
	margin: auto;
}
*/
